* {
  // border: 1px solid red;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #968e6f;
}

h1,
h2,
h3,
h4 {
  font-family: 'Julius Sans One', sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-bottom: 4px solid #7d97ad;
  margin-bottom: 20px;
}

.logo-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name-title {
  text-transform: uppercase;
}

.name {
  margin: 0;
  line-height: 1.4;
}

.title {
  line-height: 1.2;
}

.hero {
  margin-bottom: 30px;
}



.projects-list {
  // max-width: 100%;
  display: flex;
  flex-flow: column wrap;
}

.projects-title {
  padding-bottom: 10px;
}

.project {
  border: 1px solid #bbb;
  // text-align: center;
}

.project-card {
  border: 1px solid blue;
  max-width: 350px;
  text-align: center;
  height: 380px;
  margin: 0 auto;
}

.project-img {
  max-width: 100%;
  margin: 0;
}



footer {
  border-top: 1px solid #bbb;
}


@media screen and (max-width: 599px) {
  .header {
    text-align: center;
    padding: 20px 0;
  }

  .logo {
    padding-bottom: 10px;
  }

  .name {
    font-size: 38px;
  }

  .title {
    font-size: 18px;
  }

  .hero {
    margin-bottom: 20px;
  }

  .projects-container {
    padding: 0 10px;
  }

  .project {
    padding-bottom: 10px;
  }

  .projects-title {
    font-size: 22px;
  }



}

@media screen and (min-width: 600px){
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .name-title {
    text-align: right;
  }

  .name {
    font-size: 40px;
  }

  .title {
    font-size: 18px;
  }

  .projects-container {
    padding: 0 20px;
  }

  .projects-list {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .projects-title {
    font-size: 28px;
  }

}

@media screen and (min-width: 600px) and (max-width: 849px){
  .project {
    width: calc(50%);
    padding-bottom: 10px;
  }

  .project:nth-child(odd) {
    padding-right: 5px;
  }

  .project:nth-child(even) {
    padding-left: 5px;
  }

}

@media screen and (min-width: 850px) {
  .name {
    font-size: 44px;
  }

  .project {
    width: calc(33.3333% - 10px);
  }

  .projects-title {
    font-size: 32px;
  }

}


@media screen and (min-width: 1100px) {
  .container {
    width: 1100px;
    margin: 0 auto;
  }

  .header {
    padding: 20px;
  }

  .name {
    font-size: 50px;
  }

  .title {
    font-size: 20px;
  }

  .projects-container {
    width: 1100px;
    padding: 0;
  }

  .project {
    width: calc(33.3333% - 16px);
  }

  .projects-title {
    font-size: 36px;
  }

}
